/* variables */
:root {
  --yellowgreen: #d8ef2a;
  --turquoise: #1cffec;
  --display-font-stack: "Lemon", cursive;
}

/* global */
body {
  background: #621eb9;
  color: white;
  font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

/* typography */

p {
  color: var(--yellowgreen);
}

h1 {
  font-size: 120px;
  color: var(--yellowgreen);
  font-family: var(--display-font-stack);
  text-align: center;
  margin: 10px;
}

/* buttons */

nav,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--yellowgreen);
  text-decoration: none;
  font-size: 26px;
  background: #0b0a06;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

a:focus {
  outline: 6px var(--turquoise) dashed;
}

a:hover,
a:focus {
  background: var(--turquoise);
  color: black;
}

/* footer */
#frog {
  text-align: center;
  font-size: .8rem;
  color: #e8d5ff;
  font-style: italic;
}
