/* variables */
:root {
  --yellowgreen: #d8ef2a;
  --display-font-stack: "Lemon", cursive;
}


/* global */
body {
  background: #621eb9;
  color: white;
  font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

img {
  width: 100%;
  max-width: 500px;
}

/* typography */

p {
  color: var(--yellowgreen);
}

h1 {
  font-size: 120px;
  color: var(--yellowgreen);
  font-family: var(--display-font-stack);
}

a {
  color: yellow;
}

a:focus {
  outline: 6px #1cffec dashed;
}


/* buttons */

nav {
  display: flex;
}


/* custom */

.💗 {
  color: pink;
}

